<a href="/" class="item <%- current.source == 'index' ? 'active' : '' %>">Home</a>
<a href="/about.html" class="item <%- current.source == 'about' ? 'active' : '' %> <%- current.path[0] == 'about' ? 'active' : '' %>">About</a>
<a href="/interests.html" class="item <%- current.source == 'interests' ? 'active' : '' %> <%- current.path[0] == 'interests' ? 'active' : '' %>">Interests</a>
<a href="/contact.html" class="item <%- current.source == 'contact' ? 'active' : '' %>">Contact Me</a>