<!doctype html>
<html ⚡ lang="en">
  <head>
    <meta charset="utf-8">
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title><%= title %></title>
    <% var fullPath = current.path.join('/') + '.html'; %>
    <% var replace = /index\.html$/; %>
    <link rel="canonical" href="<%= MAIN_SERVER + "/" + fullPath.replace(replace, '') %>">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <!-- Great definition of types at https://developers.google.com/search/docs/data-types/articles -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "publisher": {
          "name": "EricCaron.com",
          "logo": {
            "url": "https://ericcaron.com/assets/images/eric-caron-logo.png",
            "height": 60,
            "width": 600
          }
        },
        "author": {
          "name": "Eric Caron"
        },
        "mainEntityOfPage": "<%= MAIN_SERVER + "/" + fullPath.replace(replace, '') %>",
        "headline": "<%= ampHeadline %>",
        "datePublished": "<%= locals.publishedDate ? publishedDate : '2016-11-14T20:31:21Z' %>",
        "image": {
          "url": "<%= locals.image ? image.url : 'https://ericcaron.com/assets/images/eric-caron.jpg' %>",
          "height": <%= locals.image ? image.height : 420 %>,
          "width": <%= locals.image ? image.width : 300 %>
        }
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
      <% var components = ["assets/amp/code.css", "assets/amp/material.css", "assets/amp/styles.css"]; %>
      <% components.forEach(function(component){ %>
        <%- include(component) %>
      <% }); %>
    </style>
  </head>
  <body>
    <%- yield.replace(/<img[^>]*>/g, '') %>
    <div class="ui inverted vertical footer segment">
        <a href="<%= MAIN_SERVER + "/" + fullPath.replace(replace, '') %>">Switch to desktop site</a>

      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui header"><a href="/about/" class="<%- current.path[0] == 'about' ? 'active' : '' %>">About</a></h4>
            <div class="ui inverted link list">
              <a href="/about/articles.html" class="item <%- current.source == 'articles' ? 'active' : '' %>">My Articles &amp; Talks</a>
              <a href="/about/side-projects.html" class="item <%- current.source == 'side-projects' ? 'active' : '' %>">Side Projects</a>
              <a href="/about/ephs-speech-team.html" class="item <%- current.source == 'ephs-speech-team' ? 'active' : '' %>">Eden Prairie Speech Team</a>
              <a href="/about/this-site.html" class="item <%- current.source == 'this-site' ? 'active' : '' %>">Code Powering This Site</a>
              <a href="/contact.html" class="item <%- current.source == 'contact' ? 'active' : '' %>">Contact Me</a>
            </div>
          </div>
          <div class="four wide column">
            <h4 class="ui header"><a href="/interests/" class="<%- current.path[0] == 'interests' ? 'active' : '' %>">Interests</a></h4>
            <div class="ui inverted link list">
              <a href="/interests/minnesota-tech-scene.html" class="item <%- current.source == 'minnesota-tech-scene' ? 'active' : '' %>">Minnesota Tech Scene</a>
              <a href="/interests/minnesota-food-scene.html" class="item <%- current.source == 'minnesota-food-scene' ? 'active' : '' %>">Minnesota Food Scene</a>
              <a href="/interests/recruiting-and-people-management.html" class="item <%- current.source == 'recruiting-and-people-management' ? 'active' : '' %>">Recruiting &amp; People Management</a>
              <a href="/interests/open-source-and-programming.html" class="item <%- current.source == 'open-source-and-programming' ? 'active' : '' %>">Open Source &amp; Programming</a>
              <a href="/interests/product-management-and-apis.html" class="item <%- current.source == 'product-management-and-apis' ? 'active' : '' %>">Product Management &amp; APIs</a>
            </div>
          </div>
          <div class="six wide column">
            <h4 class="ui inverted header">Thanks For Visiting</h4>
            <p>ericcaron.com typically redirected to either my GitHub, Twitter or LinkedIn profiles. When I recognized my digital presence was continuing to fragment, I threw this together to organize the chaos.</p>
            <p>Have suggestions for how I can further improve this site? Please <a href="/contact.html">contact me</a>.</p>
          </div>
        </div>
      </div>
    </div>

    <% if (environment == 'production') { %>
    <amp-analytics type="googleanalytics">
      <script type="application/json">
      {
        "vars": {
          "account": "UA-17290068-2"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
      </script>
      </amp-analytics>
    <% } %>
  </body>
</html>