<!doctype html>
<html ⚡ lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <title><%= title %></title>
    <% var fullPath = current.path.join('/') + '.html'; %>
    <% var replace = /index\.html$/; %>
    <link rel="canonical" href="<%= MAIN_SERVER + "/" + fullPath.replace(replace, '') %>">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="theme-color" content="#2d1723">

    <!-- Great definition of types at https://developers.google.com/search/docs/data-types/articles -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "publisher": {
          "name": "EricCaron.com",
          "logo": {
            "url": "https://ericcaron.com/assets/images/eric-caron-logo.png",
            "height": 60,
            "width": 600
          }
        },
        "author": {
          "name": "Eric Caron"
        },
        "mainEntityOfPage": "<%= MAIN_SERVER + "/" + fullPath.replace(replace, '') %>",
        "headline": "<%= ampHeadline %>",
        "datePublished": "<%= locals.publishedDate ? publishedDate : '2016-11-14T20:31:21Z' %>",
        "image": {
          "url": "<%= locals.image ? image.url : 'https://ericcaron.com/assets/images/eric-caron.jpg' %>",
          "height": <%= locals.image ? image.height : 420 %>,
          "width": <%= locals.image ? image.width : 300 %>
        }
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
      <% var components = ["assets/amp/styles.css", "assets/amp/material.css", "assets/amp/custom.css"]; %>
      <% components.forEach(function(component){ %>
        <%- include(component) %>
      <% }); %>
    </style>
  </head>
  <body>
    <%- partial('amp/_sidebar') %>
    <div id="main">
      <header>
        <a id="hamburger" class="button" on='tap:sidebar.toggle'>
          <amp-img srcset="/assets/images/amp/ic_menu_white_1x_web_24dp.png 1x, /assets/images/amp/ic_menu_white_2x_web_24dp.png 2x" width="24" height="24" alt="navigation"></amp-img>
        </a>
      </header>
      <article>
        <%- yield.replace(/<img[^>]*>/g, '') %>
      </article>
      <footer>
        <div id="switch-space">
          <a href="<%= MAIN_SERVER + "/" + fullPath.replace(replace, '') %>">Switch to desktop site</a>
        </div>

        <div>
          <h4>Thanks For Visiting</h4>
          <p>ericcaron.com typically redirected to either my GitHub, Twitter or LinkedIn profiles. When I recognized my digital presence was continuing to fragment, I threw this together to organize the chaos.</p>
          <p>Have suggestions for how I can further improve this site? Please <a href="/contact.html">contact me</a>.</p>
        </div>
      </footer>
    </div>
    <% if (environment == 'production') { %>
      <amp-analytics type="googleanalytics">
        <script type="application/json">
        {
          "vars": {
            "account": "UA-17290068-2"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
        </script>
      </amp-analytics>
    <% } %>
  </body>
</html>